---
import Section from "../Section.astro";
import { education } from "@cv";
---

<Section title="Edicación">
    <ul>
        {
            education.map(
                ({
                   institution,
                    startDate,
                    endDate,
                    
                    
                    
                    url
                }) => {
                    const startYear = new Date(startDate).getFullYear();
                    const endYear =
                        endDate != null
                            ? new Date(endDate).getFullYear()
                            : "Actual";
                    const years = `${startYear} - ${endYear}`;

                    return (
                        <li>
                            <article>
                                <header>
                                    <div>
                                       
                                        <h4></h4>
                                    </div>
                                    <time> {years} </time>
                                </header>
                                <footer>
                                    <p></p>
                                </footer>
                            </article>
                        </li>
                    );
                },
            )
        }
    </ul>    
</Section>